extends layout

block content
	snap-content
			div(snap-dragger='right')
				include navbar.jade
			if tests
				#mocha
			#view.view-animate(ng-view)
		div(snap-drawer='right')
			#conf-container(ng-controller='configController')
				.row(style='text-align:center')
					span Origin : 
					span= (config.limitDataToConfigSpecifiedList ? 'restricted list ' : 'database ')
					span= ( !config.limitDataToConfigSpecifiedList && (config.apps.length > 0 || config.corridors.length > 0) ? '+ defined list' : '' )
				
				#conf-content
					.row
						.col-md-6
							b Corridors
							.input-group
								input.form-control(type='text', placeholder='Name', ng-model="vm.newCorridor", ng-change="bblockAddCorridor = vm.checkExists(vm.newCorridor, 'couloir')")
								.input-group-btn
									button.btn.btn-info.form-control(type='button', ng-disabled='bblockAddCorridor', ng-click='vm.addCorridor(vm.newCorridor)')
										span.glyphicon.glyphicon-plus
							.row.settings-item(ng-repeat='corridor in vm.corridors | filter:vm.newCorridor')
								.col-xs-1.remove-item
									button.btn.btn-default.btn-xs(ng-click='vm.deleteCorridor(corridor.name)', ng-show="corridor.type == 'config'")
										| ✗
								if config.limitDataToConfigSpecifiedList
									.col-xs-5 [[corridor.name]]
								else
									.col-xs-5(ng-style="corridor.type == 'config' ? {color: 'orange'}:{color: 'black'}") [[corridor.name]]
						.col-md-6
							b Applications
							.input-group
								input.form-control(type='text', placeholder='Name', ng-model='vm.newApplications', ng-change='blockAddApp = vm.checkExists(vm.newApplications, \'application\')')
								.input-group-btn
									button.btn.btn-info.from-control(type='button', ng-disabled='blockAddApp', ng-click='vm.addApplication(vm.newApplications)')
										span.glyphicon.glyphicon-plus

							.row.settings-item(ng-repeat='application in vm.applications | filter:vm.newApplications')
								.col-xs-1.remove-item
									button.btn.btn-default.btn-xs(ng-click='vm.deleteApplication(application.name)', ng-show="application.type == 'config'" )
										| ✗
								if config.limitDataToConfigSpecifiedList
									.col-xs-5 [[application.name]]
								else
									.col-xs-5(ng-style="application.type == 'config' ? {color: 'orange'}:{color: 'black'}") [[application.name]]

	span#snap-dragger .

	
	
	script(src="/socket.io/socket.io.js")
	script(type='text/javascript', src='/javascripts/choregraphie.js')

	if tests
		script.
			mocha.setup('bdd');
			mocha.globals(['jQuery']);
			mocha.run();