#bubble(style='height: 5em; width: 5em')
	button.btn.btn-warning(style='height: 100%', ng-click="vm.switchMode()")
		span.glyphicon(ng-class="vm.mode == '2D' ? 'glyphicon-unchecked' : 'glyphicon-record' ")
		| [[vm.mode]]
	
.bubble-anchor(style='position: fixed; bottom: 5.5em; right: 6em')
div
	.col-md-12
		div#callTree
			canvas#webglTarget
			.row.legende.panelInterface
				.col-md-2
					input#date-start.form-control(type='date')
				.col-md-8
					svg#brushContainer(style='width: 100%; height: 20px;')
				.col-md-2
					input#date-end.form-control(type='date')
				div
					.col-md-12
						.btn-group
							button.btn.btn-default.dropdown-toggle.btn-callTree(type='button', ng-click='toggleListeNoeuds()')
								span.glyphicon.glyphicon-search
								| Find
						.dropdown-menu.listeNoeuds.panelInterface(role='menu')
							input.form-control(type='search', placeholder='Filter items...', ng-model='filtreNoeuds')
							ul
								// The filter directive only work on array, we have to filter by hand here
								li.nodeSelector(ng-repeat='(nom, color) in vm.getNodes(filtreNoeuds)', ng-click='vm.selectNode(nom, false)')
									div(style='background-color: [[color]]; border-radius: 20px; width: 1.4em; height: 1.4em; display: inline-block; vertical-align:middle')
									span(style='padding-left: 1em;')
										| [[nom]]
						.btn-group
							a.btn.btn-default.btn-callTree(href='', ng-repeat='(type, color) in vm.getNodeTypes()', ng-click='vm.toggleNodes(type)')
								span(style='color: [[color]]; font-weight: bold;')  [[type]]
						.btn-group
							a.btn.btn-default.btn-callTree(href='', ng-click='vm.switchAnaglyphe()', title='Vue Anaglyphe')
								span.glyphicon.glyphicon-unchecked(style='color: red;')
								span.glyphicon.glyphicon-unchecked(style='color: blue;')

						a.btn.btn-default.btn-callTree(href='', ng-click='vm.toggleText()', title='Étendre tout')
							span.glyphicon(ng-class='vm.textVisible ? \'glyphicon-eye-open\' : \'glyphicon-eye-close\'')
							| Labels
						span.push-right
								a.btn.btn-default.btn-callTree.btn-export-csv(href='', ng-click='vm.exportCSV()')
									span.glyphicon.glyphicon-save
									| CSV
								.btn-group
									button.btn.btn-default.btn-callTree.dropdown-toggle(ng-click='vm.toggleStackTrace()')
										span.glyphicon.glyphicon-indent-left
										| Calls stack
								.dropdown-menu.stackTrace.panelInterface(role='menu')
									ul
										li(ng-repeat='record in vm.getStackTrace() track by $index', style='padding-left: [[record.depth]]em;')
											| [[record.label]] : [[record.value]]
